body{   /*this body section will add styles to the whole page*/
    background-color: rgb(126, 151, 172); /*This changes the background colour*/
    text-align: center; /*This piece of code makes all content center in to the middle*/
    


}

header{

background-color: rgb(183, 156, 214);
width: 100%;
height: 150px;

}

.main{

background-color: rgb(106, 98, 160);
width: 100%;
height: 155px;
}

.intro{

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
   

}



.map{
    margin-top: 2em;
    background-color: rgb(191, 175, 238);
    width: 50%;
    height: 350px;
}

.box{

    margin-top: -21.8em;
    background-color: rgb(136, 111, 164);
    width: 50%;
    height: 700px;
    margin-left: 78em;
}

.box2{

    margin-top: 0em;
    background-color: rgb(106, 98, 160);
    width: 35%;
    height: 660px;
    margin-left: 51em;

}